{% load staticfiles i18n %}

    {% for zone in zone_list %}<script type="text/javascript" src="{{ STATIC_URL }}roma/js/geojson/{{ zone.safe_code }}.js"></script>{% endfor %}

    <script type="text/javascript">
//'fontColor': '${color}',
        var zone_style = new OpenLayers.Style({
            'fillColor': '#FF8000',
            'fillOpacity': .2,
            'fontColor': '#333333',
            'fontOpacity': 1.0,
            'fontSize': '12px',
            'fontWeight': 'bold',
            {% if zone.zonetype.id == 2 or zone.zonetype.id == 3 or zone.zonetype.id == 6 %}
                'label': '',
            {% else %}
                'label': '${label}',
            {% endif %}
            'strokeWidth': 1,
            'strokeColor': '#333333',
        });

        var zone_style_selected = new OpenLayers.Style({
            'fillColor': '#FF8000',
            'fillOpacity': .2,
            'fontColor': '${color}',
            'fontOpacity': 1.0,
            'fontSize': '${size}',
            'fontWeight': 'bold',
            'label': '${label}',
            'strokeColor': '#333333',
            'cursor': 'pointer',
        });
        var zone_style_map = new OpenLayers.StyleMap({
            'default': zone_style,
            'select': zone_style_selected,
        });
        {% if zone_list.0.count %}
            var centroid_style = new OpenLayers.Style(
                {
                'fillColor': '#77DDFF',
                'fillOpacity': .8,
                'strokeWidth': 1,
                'strokeColor': '#333333',
                //'strokeOpacity': 1.0,
                'pointRadius': '${radius}',
                'label': '${label}',
                'labelOutlineWidth': 1,
                'fontColor': '#333333',
                //'fontOpacity': 1.0,
                'fontSize': '14px',
                'fontWeight': 'bold',
                'graphicName': 'circle',
                },
                { 
                'context': {
                    radius: function(feature) {
                        var count_factor = 3, span = {{ max }} -{{ min }};
                        if (span) count_factor = 6*(feature.attributes['count']-{{ min }})/span;
                        var radius = count_factor + Math.max(9, 3*(feature.layer.map.getZoom()-6));
                        return radius;
                        },
                    },
                },
            );
            var centroid_style_selected = new OpenLayers.Style({
                'strokeWidth': 2,
                'cursor': 'pointer',
            });
            var centroid_style_map = new OpenLayers.StyleMap({
                'default': centroid_style,
                'select': centroid_style_selected,
            });
        {% endif %}

    var zones, zone_highlight_control, zone_select_control, map, base_layer;
    
    function map_init(){
        OpenLayers.Projection.addTransform("EPSG:900913", "EPSG:3857", "EPSG:23032");
        proj_OSM = new OpenLayers.Projection("EPSG:3857");
        proj_ISTAT = new OpenLayers.Projection("EPSG:23032");
        map = new OpenLayers.Map('map', {
            projection: proj_OSM,
            {% if not zone_list.0.count %}controls: []{% endif %}
        });
        map.div.oncontextmenu = function noContextMenu(e){return false;};
        /* 20200901 MMR
        var gmap = new OpenLayers.Layer.Google("Google Streets", { numZoomLevels: 20 });
        var gsat = new OpenLayers.Layer.Google("Google Satellite", {type: google.maps.MapTypeId.SATELLITE, numZoomLevels: 22});
        */
        var osm = new OpenLayers.Layer.OSM("OpenStreetMap");
        map.addLayer(osm);
        /* 20200901 MMR
        map.addLayer(gmap);
        map.addLayer(gsat);
        */
        geojson_format = new OpenLayers.Format.GeoJSON();
        zones = new OpenLayers.Layer.Vector("Zone");
        zones.styleMap = zone_style_map;
        {% if zone_list.0.count %}centroids = new OpenLayers.Layer.Vector("Baricentri");{% endif %}
        {% for zone in zone_list %}
        {% if zone.has_geom %}
            {% if zone.zonetype_id == 0 or zone.zonetype_id == 1 or zone.zonetype_id == 3 or zone.zonetype_id == 6  or zone.zonetype_id == 7 %}
                ol_zone = geojson_format.read(json_zones['{{ zone.safe_code }}'])[0];
            {% else %}
                ol_zone = geojson_format.read({{zone.geom|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
            {% endif %}
            {% if zone.count %}
                ol_zone.attributes = { label: "", description: "{{zone.name}}", type: 'municipio', url: "{{zone.url}}",};
                centroid = geojson_format.read({{zone.centroid|safe}})[0];
                centroid.attributes = { count: {{zone.count}}, label: "{{zone.count}}", description: "{{zone.name}}", url: "{{zone.url}}",};
                centroids.addFeatures(centroid);
            {% else %}
                ol_zone.attributes = { label: "{{zone.label}}", description: "{{zone.name}}", type: 'municipio', url: "{{zone.url}}",};
            {% endif %}
            zones.addFeatures(ol_zone);
        {% endif %}{% endfor %}
        map.addLayer(zones);
        {% if zone_list.0.count %}
            map.addLayer(centroids);
            centroids.styleMap = centroid_style_map;
            centroid_highlight_control = new OpenLayers.Control.SelectFeature(centroids, {
                hover: true,
                highlightOnly: true,
            });
            map.addControl(centroid_highlight_control);
            centroid_select_control = new OpenLayers.Control.SelectFeature(centroids, {
                box: false,
                clickout: false,
                toggle: true,
                multiple: true,
                multipleKey: 'shiftKey',
            });
            map.addControl(centroid_select_control);
            centroid_highlight_control.activate();
            centroid_select_control.activate();
            centroids.events.register('featureselected', this, on_feature_selected);
            map.setCenter(new OpenLayers.LonLat(1390000.0, 5143000.0), 9);
            map.zoomToExtent(zones.getDataExtent(), true);
        {% else %}
            zone_highlight_control = new OpenLayers.Control.SelectFeature(zones, {
                hover: true,
                highlightOnly: true,
            });
            zone_select_control = new OpenLayers.Control.SelectFeature(zones, {
                box: false,
                clickout: false,
                toggle: true,
                multiple: true,
                multipleKey: 'shiftKey',
            });
            zones.events.register('featureselected', this, on_feature_selected);
            map.addControl(zone_highlight_control);
            map.addControl(zone_select_control);
            zone_highlight_control.activate();
            zone_select_control.activate();
            map.setCenter(new OpenLayers.LonLat(1390000.0, 5143000.0), 9);
        {% endif %}
    }

    function on_feature_selected(event){
        // get feature attributes
        attrs = event.feature.attributes;
        url = attrs.url
        // navigate to the feature detail page
        window.location.href = url;
        return true;
    }

    function highlight_zone(zone_id, on) {
        for (var i = 0; i < zones.features.length; ++i) {
            zone = zones.features[i];
            if (zone.attributes['id'] == zone_id)
                if (on)
                    zone_highlight_control.highlight(zone);
                else
                    zone_highlight_control.unhighlight(zone);
        }
    }

    map_init();
</script>
