{% load staticfiles i18n %}

    <script type="text/javascript" src="{% static "pois/CenteredCluster.js" %}" ></script>
    <script type="text/javascript" src="{% static "pois/patches_OL-popup-autosize.js" %}" ></script>
    <script type="text/javascript" src="{% static "pois/FeaturePopups.js" %}" ></script>
    <script type="text/javascript" src="{% static "pois/pois_symbols.js" %}" ></script>
    <script type="text/javascript" src="{% static "pois/pois_map.js" %}" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}roma/js/geojson/{{ zone.safe_code }}.js"></script>

    <script type="text/javascript">
    var poi_style = new OpenLayers.Style(
        {
            'fillColor': '#77DDFF',
            'fillOpacity': .8,
            'strokeColor': ' ${color}',
            'strokeWidth': 1,
            'pointRadius': '${radius}',
            'label': '${count}',
            'labelOutlineWidth': 1,
            'fontColor': '#333333',
            'fontSize': '14px',
            'fontWeight': 'bold',
            'graphicName': '${symbol}',
        },
        { 
            'context': {
                radius: function(feature) {
                    var radius = Math.max(5, 2 * (feature.layer.map.getZoom() - 8));
                    var num = feature.attributes.count || 1;
                    if (num>1) return Math.max(radius, Math.min(cluster_distance/2 + 2, radius * Math.sqrt(Math.sqrt(num))));
                    else return radius;
                },
                symbol: function(feature) {
                    var num = feature.attributes.count || 1;
                    if (num>1) return 'circle';
                    else return feature.attributes.icon_name;
                },
                color: function(feature) {
                    var num = feature.attributes.count || 1;
                    if (num>1) return feature.cluster[0].attributes.icon_color;
                    else return feature.attributes.icon_color;
                },
                count: function(feature) {
                    var num = feature.attributes.count || 1;
                    if (num>1) return num;
                    else return '';
                },
            }
        }
    );

    var poi_style_selected = new OpenLayers.Style({
        'strokeWidth': 2,
        'cursor': 'pointer',
    });
    
    var poi_style_map = new OpenLayers.StyleMap({
        'default': poi_style,
        'select': poi_style_selected,
    });
        
        
// var MAX_ZOOM = 15;
// var MAX_POIS = 100;
// var MIN_ZOOM = 12;
    var cluster_distance = 15;
    var centered_cluster_strategy = new OpenLayers.Strategy.CenteredCluster({distance:cluster_distance, threshold:2});

//'fontColor': '${color}',
    var zone_style = new OpenLayers.Style({
        'fillColor': '#FF8000',
        'fillOpacity': .2,
        'fontColor': '#333333',
        'fontOpacity': 1.0,
        'fontSize': '12px',
        'fontWeight': 'bold',
        'label': '',
        'strokeWidth': 1,
        'strokeColor': '#333333',
    });
    var zone_style_selected = new OpenLayers.Style({
        'cursor': 'pointer',
    });
    var zone_style_map = new OpenLayers.StyleMap({
        'default': zone_style,
        'select': zone_style_selected,
    });

    function map_init(){
        map = new OpenLayers.Map('map', {
            projection: proj_OSM
        });
        for (var i = 0; i< map.controls.length; i++) {
           if (map.controls[i].displayClass == "olControlNavigation") {
               map.controls[i].disableZoomWheel();
           }
        }
        map.div.oncontextmenu = function noContextMenu(e){return false;};
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.addControl(new OpenLayers.Control.ScaleLine({geodesic: 'true'}));
        var gmap = new OpenLayers.Layer.Google("Google Streets", { numZoomLevels: 20 });
        var gsat = new OpenLayers.Layer.Google("Google Satellite", {type: google.maps.MapTypeId.SATELLITE, numZoomLevels: 22});
        var osm = new OpenLayers.Layer.OSM("OpenStreetMap");
        map.addLayer(gmap);
        map.addLayer(gsat);
        map.addLayer(osm);
        geojson_format = new OpenLayers.Format.GeoJSON();
        {% if zone.code != 'ROMA' %}
            vectors = new OpenLayers.Layer.Vector("Zone");
            {% if zone.zonetype.id == 0 or zone.zonetype.id == 1 or zone.zonetype.id == 3 or zone.zonetype.id == 6  or zone.zonetype.id == 7 %}
                vector = geojson_format.read(json_zones['{{ zone.safe_code }}'])[0];
            {% else %}
                vector = geojson_format.read({{zone.geom_OSM.geojson|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
            {% endif %}
            vector.attributes = { id:{{zone.id}}, name: "{{zone.code}}", description: "{{zone.name}}", type: 'zona'};
            vectors.addFeatures(vector);
            map.addLayer(vectors);
            vectors.styleMap = zone_style_map;
        {% endif %}
        pois = new OpenLayers.Layer.Vector("{% trans "Resources" %}", { strategies: [centered_cluster_strategy]});
        {% for poi_dict in poi_dict_list %}
            {% if poi_dict.point %}
                poi = geojson_format.read({{poi_dict.point|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
                poi.attributes = { id: {{poi_dict.id}}, name: "{{poi_dict.safe_name}}".replace("&#39;", "'"), type: "{{poi_dict.category}}", icon_name: "{{poi_dict.icon}}", icon_color: "{{poi_dict.color}}", url: "{{poi_dict.url}}" };
                pois.addFeatures(poi);
            {% endif %}
        {% endfor %}
        map.addLayer(pois);
        pois.styleMap = poi_style_map;
        var fpControl = new OpenLayers.Control.FeaturePopups();
        fpControl.addLayer(pois, {
            templates: {
                // .name is attributes.name on features, and so on.
                hover: '${.name}',
                hoverList: '<b>${count} {% trans "Resources" %}</b><br>${html}',
                hoverItem: '${.name}<br>',
                // select: single & list
                single: '<div><h4>${.name}</h4></div><div><a href="${.url}">{% trans "show the resource profile" %}</a></div>',
                list: '<h4>${count} {% trans "Resources" %}</h4>${html}',
                item: '<li><a href="${.url}" title="{% trans "show the resource profile" %}">${.name}</a></li>'
            }
        });
        map.addControl(fpControl);
        
        {% if zone.code == 'ROMA' %}
            map.zoomToExtent(pois.getDataExtent(), false);
        {% else %}
            map.zoomToExtent(vectors.getDataExtent(), false);
        {% endif %}
    }

    map_init();
    </script>