{% load i18n staticfiles %}

<tr>
<td class="hidden-xs td-img">
    {% if data %}
    <p>&nbsp;</p>
    {% endif %}
    <img class="img-responsive" src="{{ STATIC_URL }}roma/img/icons/{{ poi_dict.icon}}.png">
</td>
<td>
    {% if data %}
    <p>{% trans "Category" %}: {{ poi_dict.category }},
              {% trans "User" %}: {{ poi_dict.owner }} {% if poi_dict.careof.name %}(<span class="notranslate">{{ poi_dict.careof.name }}</span>){% endif %},
            {% trans "Date" %}: {{ poi_dict.modified }}
    </p>{% endif %}

<div class="row">
<div class="col-lg-7"><a href="{{ poi_dict.url }}" rel="tooltip" title="{% trans "show resource" %} {{ poi_dict.name }}"><span class="notranslate">{{ poi_dict.name }}</span></a></div>
<div class="col-lg-5"><small>{% if  poi_dict.street_url %}<a href="{{ poi_dict.street_url }}" rel="tooltip" title="{% trans "show" %} {{ poi_dict.street_name }}"><span class="notranslate">{{ poi_dict.street_name }}</span></a><span class="notranslate">, {{ poi_dict.number }}</span>{% else %}<span class="notranslate">{{ poi_dict.street_address }}</span>{% endif %} - <a href="/indice-zona/{{poi_dict.cap }}/" rel="tooltip" title="{% trans "list the resources" %} {% trans "located in the zone with zipcode" %} {{poi_dict.cap }}"><span class="notranslate">{{poi_dict.cap }}</span></a> {% if poi_dict.comune.1 == 'roma' %}<span class="notranslate">{{ poi_dict.comune.0 }}</span>{% else %}<a href="/indice-zona/{{poi_dict.comune.1}}/" rel="tooltip" title="{% trans "list the resources" %} {% trans "located in the town" %} {{ poi_dict.comune.0 }}"><span class="notranslate">{{ poi_dict.comune.0 }}</span></a>{% endif %}</small></div>
<div class="col-lg-9"><small>{{ poi_dict.short }}</small></div>
</div>
</td>
</tr>
