{% extends "roma/gridA.html" %}
{% load staticfiles i18n macros %}
{% loadmacros pois/pois_macros.html %}

{% block head_title %}Sandbox per il test dei servizi di "Muoversi a Roma"{% endblock %}

{% block title-page %}Sandbox per il test dei servizi di "Muoversi a Roma"{% endblock %}

{% block extra_script %}{% endblock %}

{% block content-page %}
	{{ text_body|safe }}

	<hr>
	<ul>
	<li>
		<div>Link ad una pagina web nel sito di "Muoversi a Roma":
		<a href="http://muovi.roma.it/percorso/js?cr_lista_tipi=209">Vai</a></div>
	</li>

	<li style="margin-top: 20px;">
		<div>Modulo di ricerca (personalizzabile) suggerito da "Muoversi a Roma"
		     per la ricerca delle "risorse" nella lista "Amici di RomaPaese":</div>
		<div>
<form  name="input" action="http://muovi.roma.it/percorso/js/" method="get" target="_blank">
	<table>
		<tr><td>Sono qui:</td><td><input type="text" name="cr_da" /></td></tr>
		<tr><td>Sto andando qui (fac.):</td><td><input type="text" name="cr_a" /></td></tr>
	</table>
	<input type="hidden" name="cr_lista_tipi" value="209" />
	<input type="hidden" name="cr" value="1" />
	<input type="submit" value="Cerca Amici di RomaPaese" />
</form>
		</div>
	</li>

	<li style="margin-top: 20px;">
		<div>Gadget fornito da "Muoversi a Roma" per la ricerca delle "risorse" nella lista "Amici di RomaPaese":</div>
		<div style="margin-top: 5px;"><iframe width="400px" height="74px" scrolling="no" src="http://muovi.roma.it/percorso/cerca_luogo_custom/209" /></div>
	</li>
	</ul>
{% endblock %}
