{% extends "roma/roma_base.html" %}
{% load static i18n %}

{% block head_title %}
	{% if relation == 'affiliated' %}{{ parent.getName }}: {% trans "affiliated resources" %}
	{% elif relation == 'caredby' %}{{ parent.getName }}: {% trans "friend resources" %}{% endif %}, {{region|title}}{% if zone_name %} - {{zone_name}} {% endif %}
	{% block meta_description %}{% endblock meta_description %}
{% endblock %}

{% block content %}
    <div class="boxcontent">
        <div class="row mB10">
            <div class="col-md-12 col-lg-12">
                <div class="segnaposto notranslate">{{ region }}{% if zone_name %} - {{zone_name}} {% endif %}</div>
            </div>
            <div class="col-md-9 col-lg-10">
                 <h1 class="mB0">{% if parent.getLogo %}<img src="{{MEDIA_URL}}{{parent.getLogo}}" alt=""> {% endif %}<span class="notranslate">{{ parent.getName }}</span></h1>
                 <h3 class="mT0">
                    {% if relation == 'affiliated' %}{% trans "affiliated resources"|capfirst %}
                    {% elif relation == 'caredby' %}{% trans "friend resources"|capfirst %}{% endif %}
                    
                 </h3>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="actions">
                    <div><a href="{{ parent.friendly_url }}" rel="tooltip" title="{% trans "show resource" %} {{ parent.getName }}"><i class="fa fa-map-marker" aria-hidden="true"></i> <small>{% trans "show resource" %}</small></a></div>
                    {% include "pois/_help_block.html" %}
                </div>
            </div>
        </div>

        <div class="summary mB10">
        {% for zone in zone_list %}
            <div class="val"><span class="notranslate">{{ zone.name }}</span> <span class="text-pre-wrap">[ <a href="/rete/{{ parent.slug }}/zona/{{ zone.slug }}/" title="{% trans "list the resources affiliated to" %} {{ parent.getName }} {% trans "in the zone" %} {{ zone.name }}">{{ zone.count }}</a> ]</span></div>
        {% endfor %}
        </div>
        
        
            <div class="row mB20">
                <div class="col-sm-12 col-md-12 col-lg-12 mB10">
                    <div id="map" class="mapZone"></div>
                </div>
            </div>
        
        {% if poi_dict_list %}
        <div><table class="table table-striped table-list"><tbody id="resources">
        {% if poi_dict_list %}
            {% for poi_dict in poi_dict_list %}{% include "pois/_poi_list_item.html" %}{% endfor %}
        {% else %}
            <tr><td class="td-total-white">{% trans "No resource is present" %}.</td></tr>
        {% endif %}
        </tbody></table></div>{% endif %}
    </div>
{% endblock content %}

{% block mapjs %}
    <script type="text/javascript">
        var json_zones = {};
    </script>
    {% if poi_dict_list %}
        {% include "pois/_map_poi_list_js.html" %}
    {% elif zone_list %}
        {% include "pois/_map_zone_list_js.html" %}
    {% else %}
        {% include "pois/_map_poi_list_js.html" %}
    {% endif %}
{% endblock mapjs %}
