{% extends "roma/roma_base.html" %}
{% load staticfiles i18n set_var %}

{% block head_title %}{% trans "Remarks on the resource" %} {{ poi.name }}{% endblock %}

{% block content %}
<div class="boxcontent">
    <div class="container">
        <h1>{% trans "Remarks on the resource" %}: <span class="ntranslate">{{ poi.name }}</span></h1>
        {{ text_body|safe }}
        <form action="/pois/save_note" method="post" id="feedback_form">
            {% csrf_token %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            <table style="width: 800px;">
    {% for field in form.visible_fields %}
        <tr><th style="text-align: right;">
        		{% if field.help_text %}<img src="{% static "admin/img/icon-unknown.gif" %}" Title="{{ field.help_text }}" style="cursor: pointer; float:right; margin:5px;">{% endif %}
        		<span class="filter-label"><label for="">{{ field.label_tag }}</label></span>
        		{% if field.required %}<span style="color: red;">*</span>{% endif %}</th>
            <td>{{ field.errors }}{{ field }}</td></tr>
    {% endfor %}
    <tr><th></th><td align="center"><input type="submit" value="{% trans "Send" %}"></td></tr>
    </table>

    </form>
    </div></div>
{% endblock content %}
