{% extends "roma/roma_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Thanks for your recommendation" %}{% endblock %}

{% block content %}
    <div class="boxcontent">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-9">
                <h1>{% trans "Thanks for your recommendation" %}</h1>
                <div class="mB20">{{ text_body|safe }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
            <div class="pTB12LR24 back-box">
                <div class="demiBold">{% trans "Name of the resource" %}</div>
                <p>{{ poi.name }}</p>
                <div class="demiBold">{% trans "Type of resource" %}</div>
                <p>{{ poi.short}}</p>
                <div class="demiBold">{% trans "Theme areas" %}</div>
                <p>{% for tag in poi.tags.all %}{{tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <div class="demiBold">{% trans "Address" %}</div>
                <p>{% if poi.street %}{{ poi.street }}{% else %}{{ poi.street_address }}{% endif %}{% if poi.housenumber %}, {{poi.housenumber}}{% endif %} - {% if poi.zipcode %}{{poi.zipcode}} {% endif %}{{poi.comune.0}}</p>
                {% if poi.phone %}
                <div class="demiBold">{% trans "Phone" %}</div>
                <p style="white-space:pre-wrap">{{ poi.phone }}</p>
                {% endif %}
                {% if poi.email %}
                <div class="demiBold">{% trans "Email" %}</div>
                <p>{{ poi.email }}</p>
                {% endif %}
                {% if poi.web %}
                <div class="demiBold">{% trans "Web and/or Facebook" %}</div>
                <p style="white-space:pre-wrap">{{ poi.web }}</p>
                {% endif %}
                {% if poi.video %}
                <div class="demiBold">{% trans "Youtube" %}</div>
                <p>{{ poi.video }}</p>
                {% endif %}
                {% if poi.description %}
                <div class="demiBold">{% trans "Description" %}</div>
                <p>{{ poi.description }}</p>
                {% endif %}
                {% if poi.notes %}
                <p style="white-space:pre-wrap">{{ poi.notes }}</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
