{% extends "roma/roma_base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{{ poitype.name|capfirst }} - {{ theme.name|capfirst }}) - {{ region|lower|capfirst }}{% endblock %}

{% block content %}
    <div class="boxcontent">
        <div class="row mB10">
            <div class="col-md-12 col-lg-12">
                <div class="segnaposto notranslate">{{ region }}</div>
            </div>
            <div class="col-md-9 col-lg-10">
                <h1>{{ poitype.name }}</h1>
                <div class="mB20">
                {% if theme %}
                    <div class="summary">
                        <div class="eti">{% trans "specific theme area"|capfirst %}</div>
                        <div class="val"><a href="/tema/{{ theme.slug }}/" rel="tooltip" title='{% trans "show an index" %} {% trans "of resources for" %} {{ theme.name }}'>{{ theme.name }}</a></div>
                    </div>
                {% endif %}
                {% if theme_list %}
                <div class="summary">
                    <div class="eti">{% trans "theme areas related"|capfirst %} {% trans "to the category" %}</div>
                    {% for theme in theme_list %}<div class="val"><a href="/tema/{{ theme.slug }}/" rel="tooltip" title='{% trans "show an index" %} {% trans "of resources for" %} {{ theme.name }}'>{{ theme.name }}</a></div>{% endfor %}
                </div>
                {% endif %}
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="actions">
                    {% include "pois/_help_block.html" %}
                </div>
            </div>
        </div>
        <div class="row mB20">
            <div class="col-sm-12 col-md-12 col-lg-12 mB10">
                <div id="map" class="map mapZone"></div>
            </div>
        </div>
        <div><table class="table table-striped table-list"><tbody id="resources">
            {% for poi_dict in poi_dict_list %}{% include "pois/_poi_list_item.html" %}{% endfor %}
        </tbody></table></div>
    </div>
{% endblock %}

{% block mapjs %}
    <script type="text/javascript">
        var json_zones = {};
    </script>
    {% include "pois/_map_poi_list_js.html" %}
{% endblock mapjs %}