{% extends "roma/roma_base.html" %}
{% load staticfiles i18n %}

{{ current_path }}

{% block head_title %}{{ tag.name|capfirst }} {% trans "in Roma and Lazio" %}{% endblock %}
{% block meta_description %}{{tag.short}}{% endblock meta_description %}
{% block top-banner %}{% endblock top-banner %}
{% block content %}
    <div class="mLR-15"><img src="{{ MEDIA_URL }}img_tema/{{tag.slug}}.jpg" alt="" class="img-responsive"></div>
    <div class="boxcontent mT0">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-center">
                <h1>{{ tag.name|capfirst }}</h1>
            </div>
        </div>
        <div class="row mB20">
            {% if poitype_list %}
                <div class="hidden-sx hidden-sm hidden-md">
                    <div class="col-lg-4">
                    {% for poitype, n, category_in_theme, poi_url in list_3_1 %}{% with poitype_name=poitype.name %}
                         <p class="pL26TB5 bBdotted" style="background: url('{{ STATIC_URL }}roma/img/icons/{{ poitype.icon.name }}.png') no-repeat center left;">{{ poitype_name }}
                         {% if n == 1 %}
                             <span class="text-pre-wrap">[ <a href="{{ poi_url }}"  title="{% trans "show resource" %} {% trans "of the category" %} {{ poitype_name }}" rel="tooltip">{{ n }}</a> ]</span>
                         {% elif category_in_theme %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% else %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/tema/{{ tag.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% endif %}
                         </p>
                    {% endwith %}{% endfor %}
                    </div>
                    <div class="col-lg-4">
                    {% for poitype, n, category_in_theme, poi_url in list_3_2 %}{% with poitype_name=poitype.name %}
                         <p class="pL26TB5 bBdotted" style="background: url('{{ STATIC_URL }}roma/img/icons/{{ poitype.icon.name }}.png') no-repeat center left;">{{ poitype_name }}
                         {% if n == 1 %}
                             <span class="text-pre-wrap">[ <a href="{{ poi_url }}"  title="{% trans "show resource" %} {% trans "of the category" %} {{ poitype_name }}" rel="tooltip">{{ n }}</a> ]</span>
                         {% elif category_in_theme %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% else %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/tema/{{ tag.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% endif %}
                         </p>
                    {% endwith %}{% endfor %}
                    </div>
                    <div class="col-lg-4">
                    {% for poitype, n, category_in_theme, poi_url in list_3_3 %}{% with poitype_name=poitype.name %}
                         <p class="pL26TB5 bBdotted" style="background: url('{{ STATIC_URL }}roma/img/icons/{{ poitype.icon.name }}.png') no-repeat center left;"> {{ poitype_name }}
                         {% if n == 1 %}
                             <span class="text-pre-wrap">[ <a href="{{ poi_url }}" title="{% trans "show resource" %} {% trans "of the category" %} {{ poitype_name }}" rel="tooltip">{{ n }}</a> ]</span>
                         {% elif category_in_theme %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% else %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/tema/{{ tag.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% endif %}
                         </p>
                    {% endwith %}{% endfor %}
                    </div>
                </div>
                <div class="hidden-lg">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                    {% for poitype, n, category_in_theme, poi_url in list_2_1 %}{% with poitype_name=poitype.name %}
                         <div class="pL26TB5 bBdotted" style="background: url('{{ STATIC_URL }}roma/img/icons/{{ poitype.icon.name }}.png') no-repeat center left;">{{ poitype_name }}
                         {% if n == 1 %}
                             <span class="text-pre-wrap">[ <a href="{{ poi_url }}" title="{% trans "show resource" %} {% trans "of the category" %} {{ poitype_name }}" rel="tooltip">{{ n }}</a> ]</span>
                         {% elif category_in_theme %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% else %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/tema/{{ tag.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% endif %}
                         </div>
                    {% endwith %}{% endfor %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                    {% for poitype, n, category_in_theme, poi_url in list_2_2 %}{% with poitype_name=poitype.name %}
                         <div class="pL26TB5 bBdotted" style="background: url('{{ STATIC_URL }}roma/img/icons/{{ poitype.icon.name }}.png') no-repeat center left;">{{ poitype_name }}
                         {% if n == 1 %}
                             <span class="text-pre-wrap">[ <a href="{{ poi_url }}" title="{% trans "show resource" %} {% trans "of the category" %} {{ poitype_name }}" rel="tooltip">{{ n }}</a> ]</span>
                         {% elif category_in_theme %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% else %}
                             <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype.slug }}/tema/{{ tag.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                         {% endif %}
                         </div>
                    {% endwith %}{% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="col-lg-12">
                    <p>{% trans "No resource is present" %} {% trans "for this theme area" %}.</p>
                </div>
            {% endif %}
        </div>
    </div>  
{% endblock content %}
