{% extends "roma/roma_base.html" %}
{% load staticfiles i18n %}

{{ current_path }}

{% block head_title %}{{zonetype_label}}: {% trans "useful resources" %}{% endblock %}
{% block meta_description %}{{ zonetype_label|capfirst }}: {% trans "useful resources organized by theme area." %} {% trans "Schools, social and health services, cultural resources and much more." %}{% endblock meta_description %}
{% block content %}
    <div class="boxcontent">
        <div class="row mB10">
            <div class="col-md-12 col-lg-12">
                <div class="segnaposto notranslate">{{region}}</div>
            </div>
            <div class="col-md-9 col-lg-10">
                <h1>{% if zone.zonetype_id == 3 %}{{ zone.code}} - {% elif zone.zonetype_id == 6 %}{{zonetype_label|capfirst}} {% endif %}<span class="notranslate">{{ zone.name}}</span></h1>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="actions">
                    {% if can_edit %}<div><a href="{% url "admin:pois_zone_change" zone.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <small>{% trans "edit" %}</small></a></div>{% endif %}
                    <div><a href="/zona/{{ zone.slug }}/" title="{% trans "show the resources on the map" %}" rel="tooltip"><i class="fa fa-map-o" aria-hidden="true"></i> <small>{% trans "show the resources on the map" %}</small></a></div>
                </div>
            </div>
        </div>
        {% comment %}{% if zone.description %}<div class="mT20">{{ zone.description|safe }}</div>{% endif %}{% endcomment%}
        {% if tag_poitype_list %}
{% comment %}<p class="help-block">{% trans "In this list a category can occur in several theme areas" %}.</p>{% endcomment %}
            <div class="row">
            {% for tag_id, tag_url, tag_name, tag_slug, m, poitype_poi_list in tag_poitype_list %}
                 {% if tag_id != 49 or request.user.is_superuser or request.user.is_staff %}
                 <div class="col-md-6 col-lg-3">
                     <h5 class="back-LightSkyBlue panel-header"><a href="#" class="toggleIcon"><i class="fa fa-plus-square"></i><span> {{ tag_name|capfirst }}</span></a> <span class="text-wrap">[{{ m }}]</span></h5>
                     <article id="tema_{{ forloop.counter }}" class="view-list height30vh box-scroll" style="display:none">
                         <dl>
                         {% for prefix, poitype_slug, poitype_name, poitype_icon, n, category_in_theme, poi_url in poitype_poi_list %}
                             <dd><ul class="list-unstyled"><li class="pL26TB5 bBdotted" style="background: url('{{ STATIC_URL }}roma/img/icons/{{ poitype_icon.name }}.png') no-repeat center left;">{{ prefix }} {{ poitype_name }}
                             {% if n == 1 %}
                                 <span class="text-pre-wrap">[ <a href="{{ poi_url }}" title="{% trans "show resource" %} {% trans "of the category" %} {{poitype_name}}" rel="tooltip">{{ n }}</a> ]</span>
                             {% else %}
                                 <span class="text-pre-wrap">[ <a href="/categoria/{{ poitype_slug }}/zona/{{ zone.slug }}/" title="{%blocktrans%}show the resources of the category {{poitype_name}} on the map{%endblocktrans%}" rel="tooltip">{{ n }}</a> ]</span>
                             {% endif %}
                             </li></ul></dd>
                         {% endfor %}
                        </dl>
                     </article>
                 </div>
                 {% endif %}
            {% endfor %}
            </div>
        {% else %}
            <p>{% trans "No theme areas or resource categories are present" %} {% trans "for this zone" %}.</p>
        {% endif %}
    </div>
{% endblock content %}

{% block body_scripts %}
    <script type="text/javascript">
        $(document).ready(function (){
            $('h5 a.toggleIcon').on('click', function(event){
                event.preventDefault();
                $("body").css("cursor", "default");
                var accordion = $(this).parent().parent();
                var accordionContent = accordion.children('article');
                idAccordionContent = accordionContent.attr('id');
                if ($("#accordion").find("div.open")) {
                    contentOpen = $("div.open").children('article');
                    idContent = contentOpen.attr('id');
                    if (idContent != idAccordionContent) {
                        $("div.open h5 a.toggleIcon").children('i').attr("class","fa fa-plus-square");
                        contentOpen.slideToggle(250);
                        $("div.open").toggleClass("open", false);
                    }
                }
                var accordionToggleIcon = $(this);
                accordion.toggleClass("open");
                accordionContent.slideToggle(250);
                if (accordion.hasClass("open")) {
                    accordionToggleIcon.children('i').attr("class","fa fa-minus-square");
                } else {
                    accordionToggleIcon.children('i').attr("class","fa fa-plus-square");
                }
            });
        });
    </script>
{% endblock body_scripts %} 