{% extends "roma/roma_base.html" %}
{% load staticfiles i18n set_var %}

{% block head_title %}{% if zone.zonetype_id == 3 %}{{ zone.code }} - {% elif zone.zonetype_id == 6 %}{{ zone.zonetype_label|capfirst }} {% endif %}{{ zone.name }}, {{zone.prefix|lower|capfirst}}{% endblock %}
{% block meta_description %}{% if zone.zonetype_id == 3 or zone.zonetype_id == 6 %}{{ zone.zonetype_label|capfirst }} {% endif %}{{ zone.name }}: {% trans "map of georeferenced resources" %}{% endblock meta_description %} 
{% block content %}
    <div class="boxcontent">
        <div class="row mB10">
            <div class="col-md-12 col-lg-12">
                <div class="segnaposto notranslate">{{zone.prefix}}</div>
            </div>
            <div class="col-md-9 col-lg-10">
                <h1>{% if zone.zonetype_id == 3 %}{{ zone.code}} - {% elif zone.zonetype_id == 6 %}{{zone.zonetype_label|capfirst}} {% endif %}<span class="notranslate">{{ zone.name}}</span></h1>
                {% set urlprefix = 'zona' %}
                {% include "pois/_pois_zone_view_summary.html" %}
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="actions">
                    {% if can_edit %}<div><a href="{% url "admin:pois_zone_change" zone.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <small>{% trans "edit" %}</small></a></div>{% endif %}
                    {% if poi_dict_list %}<div><a href="{{indice_zona}}{{ zone.slug }}/" title="{% trans "show the resources by theme area" %}" rel="tooltip"><i class="fa fa-list" aria-hidden="true"></i> <small>{% trans "show the resources by theme area" %}</small></a></div>{% endif %}
                    {% comment %}
                    {% if map and zone.has_geom and poi_dict_list %}
                        <div><a href="/mappa-zona/{{ zone.slug }}/"><i class="fa fa-filter" aria-hidden="true"></i> <small>{% trans "filter resources by category also" %}</small></a></div>
                    {% endif %}
                    {% endcomment %}
                    {% comment %}<div><a id="explore_viewport" href="#"><i class="fa fa-map-o" aria-hidden="true"></i> <small>{% trans "explore the resources in the neighbourhood" %}</small></a></div>{% endcomment %}
                    <div id="live-geolocation"></div>
                    {% if map and zone.has_geom and poi_dict_list %}
                        {% include "pois/_help_block.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mB20">
            <div class="{% if poi_dict_list %}col-sm-12 col-md-9 col-lg-10{% else %}col-sm-12 col-md-12 col-lg-12{% endif %} mB10">
                <div id="map" class="mapZone"></div>
            </div>
            {% if poi_dict_list %}
            <div class="col-sm-12 col-md-3 col-lg-2 mB10">
                {% include "pois/_pois_filter_theme.html" %}
            </div>
            {% endif %}
        </div>
        {% if zone.zonetype_id != 2 %}
        <div><table class="table table-striped table-list"><tbody id="resources">
            {% for poi_dict in poi_dict_list %}{% include "pois/_poi_list_item.html" %}
            {% empty %}
            <tr><td class="td-total-white">{% trans "No resource is present" %}.</td></tr>
            {% endfor %}
        </tbody></table></div>
        {% endif %}
    </div>
{% endblock content %}

{% block mapjs %}

<script type="text/javascript" src="{% static "pois/CenteredCluster.js" %}"></script>
<script type="text/javascript" src="{% static "pois/patches_OL-popup-autosize.js" %}"></script>
<script type="text/javascript" src="{% static "pois/FeaturePopups.js" %}"></script>
<script type="text/javascript" src="{% static "pois/pois_symbols.js" %}"></script>
<script type="text/javascript" src="{% static "pois/geoPosition.js" %}"></script>
<script type="text/javascript" src="{% static "pois/pois_map.js" %}"></script>

<script type="text/javascript">
    var json_zones = {};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}roma/js/geojson/{{ zone.safe_code }}.js"></script>

<script type="text/javascript">
    var poi_style = new OpenLayers.Style(
        {
            'fillColor': '#77DDFF',
            'fillOpacity': .8,
            'strokeColor': ' ${color}',
            'strokeWidth': 1,
            'pointRadius': '${radius}',
            'label': '${count}',
            'labelOutlineWidth': 1,
            'fontColor': '#333333',
            'fontSize': '14px',
            'fontWeight': 'bold',
            'graphicName': '${symbol}',
        },
        { 
            'context': {
                radius: function(feature) {
                    var radius = Math.max(5, 2 * (feature.layer.map.getZoom() - 8));
                    var num = feature.attributes.count || 1;
                    if (num>1) return Math.max(radius, Math.min(cluster_distance/2 + 2, radius * Math.sqrt(Math.sqrt(num))));
                    else return radius;
                },
                symbol: function(feature) {
                    var num = feature.attributes.count || 1;
                    if (num>1) return 'circle';
                    else return feature.attributes.icon_name;
                },
                color: function(feature) {
                    var num = feature.attributes.count || 1;
                    if (num>1) return feature.cluster[0].attributes.icon_color;
                    else return feature.attributes.icon_color;
                },
                count: function(feature) {
                    var num = feature.attributes.count || 1;
                    if (num>1) return num;
                    else return '';
                },
            }
        }
    );

    var poi_style_selected = new OpenLayers.Style({
        'strokeWidth': 2,
        'cursor': 'pointer'
    });
    
    var poi_style_map = new OpenLayers.StyleMap({
        'default': poi_style,
        'select': poi_style_selected,
    });

    var zone_style = new OpenLayers.Style({
        'fillColor': '#FF8000',
        'fillOpacity': .2,
        'strokeWidth': 1,
        'strokeColor': '#333333',
    });

    var zone_style_map = new OpenLayers.StyleMap({
        'default': zone_style,
    });
    
    var map, geojson_format, pois;

    var MAX_ZOOM = 16; 
    var MAX_POIS = 100;
    var MIN_ZOOM = 12;

    var cluster_distance = 15;
    var centered_cluster_strategy = new OpenLayers.Strategy.CenteredCluster({distance:cluster_distance, threshold:2});

    function map_init(){
        map = new OpenLayers.Map('map', {
            projection: proj_OSM,
// eventListeners: {'moveend': on_move}
            eventListeners: {'moveend': set_viewport}
        });
        for (var i = 0; i< map.controls.length; i++) {
            if (map.controls[i].displayClass == "olControlNavigation") {
                map.controls[i].disableZoomWheel();
            }
        }
        map.div.oncontextmenu = function noContextMenu(e){return false;};
// map.addControl(new OpenLayers.Control.MousePosition());
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.addControl(new OpenLayers.Control.ScaleLine({geodesic: 'true'}));
{% include "pois/_layerGoogleMaps_js.html" %}
        var osm = new OpenLayers.Layer.OSM("OpenStreetMap");
        map.addLayer(osm);
        geojson_format = new OpenLayers.Format.GeoJSON();
        vectors = new OpenLayers.Layer.Vector("Zone");
        {% if zone.zonetype_id == 0 or zone.zonetype_id == 1 or zone.zonetype_id == 3 or zone.zonetype_id == 6  or zone.zonetype_id == 7 %}
            vector = geojson_format.read(json_zones['{{ zone.safe_code }}'])[0];
        {% else %}
            vector = geojson_format.read({{zone.geom|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
        {% endif %}
        vector.attributes = { id:{{zone.id}}, name: "{{zone.code}}", description: "{{zone.name}}", type: 'zona'};
        vectors.addFeatures(vector);
        map.addLayer(vectors);
        vectors.styleMap = zone_style_map;
// pois = new OpenLayers.Layer.Vector("Risorse");
        pois = new OpenLayers.Layer.Vector("{% trans "Resources" %}", { strategies: [centered_cluster_strategy]});
        // n_pois = 0;
        {% if poi_dict_list %}
            {% for poi_dict in poi_dict_list %}
                {% if poi_dict.point %}
                    poi = geojson_format.read({{poi_dict.point|safe}})[0]; // We mark it 'safe' so that Django doesn't escape the quotes.
                    poi.attributes = { id: {{poi_dict.id}}, name: "{{poi_dict.safe_name}}".replace("&#39;", "'"), type: "{{poi_dict.category}}", icon_name: "{{poi_dict.icon}}", icon_color: "{{poi_dict.color}}", url: "{{poi_dict.url}}" };
                    pois.addFeatures(poi);
                    // n_pois++;
                {% endif %}
            {% endfor %}
        {% endif %}

        map.addLayer(pois);
        pois.styleMap = poi_style_map;
        var fpControl = new OpenLayers.Control.FeaturePopups();
        fpControl.addLayer(pois, {
            templates: {
// .name is attributes.name on features, and so on.
                hover: '${.name}',
                hoverList: '<b>${count} {% trans "Resources" %}</b><br>${html}',
                hoverItem: '${.name}<br>',
// select: single & list
                single: '<div><h4>${.name}</h4></div><div><a href="${.url}">{% trans "show the resource profile" %}</a></div>',
                list: '<h4>${count} {% trans "Resources" %}</h4>${html}',
// item: '<li><a href="${.url}" ${showPopup()}>${.name}</a></li>'
                item: '<li><a href="${.url}" title="{% trans "show the resource profile" %}">${.name}</a></li>'
            }
        });
        map.addControl(fpControl);
        /*if (pois.features.length > 10) {
            map.zoomToExtent(pois.getDataExtent());
        } else {
            map.zoomToExtent(vectors.getDataExtent());
        }
        if(map.getZoom() > MAX_ZOOM) {
            map.zoomTo(MAX_ZOOM);
        } else if (map.getZoom() < MIN_ZOOM) {
            map.zoomTo(MIN_ZOOM);
        } else {
            set_viewport();
        }*/
        map.zoomToExtent(vectors.getDataExtent());
        set_viewport();
    }

    function set_viewport() {
        vp = map.getExtent().toArray();
        s = '/set_viewport?left={0}&bottom={1}&right={2}&top={3}';
        url = s.format(vp[0], vp[1], vp[2], vp[3]);
        $.getJSON(url, function (data) {
        })
    }

/* MMR 20170919 richiamata direttamente in $("#refresh_viewport").click.....
function refresh_viewport(form) {
	$("body").css("cursor","wait");
	var tags = $("#search_form input:checkbox:checked").map(function(){
	      return $(this).val();
	    }).get().join();
	var poi_dict_list = new Array();
	s = '/viewport_pois?left={0}&bottom={1}&right={2}&top={3}&max={4}&tags={5}';
	url = s.format(vp[0], vp[1], vp[2], vp[3], MAX_POIS, tags);
	$.getJSON(url, function (data) {
		poi_dict_list = data['resource_list'];
		show_resources(poi_dict_list);
	})
	$("body").css("cursor","default");
}*/
/* function on_zoom(event){ show_scale(); } */

    function show_resources(poi_dict_list){
/* svuota il vector layer delle risorse */
        pois.removeAllFeatures();
        $('#resources').empty();
        if (poi_dict_list.length > 0) {
            for (var i=0; i < poi_dict_list.length; i++) {
                poi_dict = poi_dict_list[i];
                $('#resources').append(make_poi_el(poi_dict));
// MMR aggiunto tooltip
// MMR 20170920 disattivato tooltip $("[rel='tooltip']").tooltip();
                add_poi_feature(poi_dict);
            }
        } else {
            $('#resources').append('<tr><td class="td-total-white">{% trans "No resource is present" %}.</td></tr>');
        }
/* rinfresca il vector layer delle risorse */
        pois.redraw();
    }

    function make_poi_el(poi_dict) {
        var s='<tr>\
            <td class="hidden-xs td-img"><img class="img-responsive" src="{{ STATIC_URL }}roma/img/icons/{0}.png"></td>\
            <td>\
            <div class="row">\
            <div class="col-lg-7"><a href="{1}" rel="tooltip" title="{% trans "show resource" %} {2}"><span class="notranslate">{2}</span></a></div>\
            <div class="col-lg-5"><small>';
        if  (poi_dict['street_url']) {
            s+='<a href="{3}" rel="tooltip" title="{% trans "show" %} {4}"><span class="notranslate">{4}</span></a><span class="notranslate">, {5}</span>';
        } else {
            s+='<span class="notranslate">{6}</span>';
        }
        /* esclude link cap
        s+=' - <a href="{{indice_zona}}{7}/" rel="tooltip" title="{% trans "list the resources" %} {% trans "located in the zone with zipcode" %} {7}"><span class="notranslate">{7}</span></a> ';
        */
        s+=' - <span class="notranslate">{7}</span> ';

        if (poi_dict['comune'][1]=='roma') {
            s+='<span class="notranslate">{8}</span>';
        } else {
            s+='<a href="{{indice_zona}}{9}/" rel="tooltip" title="{% trans "list the resources" %} {% trans "located in the town" %} {8}"><span class="notranslate">{8}</span></a>';
        }
        s+='</small></div><div class="col-lg-9"><small>{10}</small></div></div>';
        return s.format(poi_dict['icon'],poi_dict['url'], poi_dict['name'], poi_dict['street_url'], poi_dict['street_name'], poi_dict['number'], poi_dict['street_address'], poi_dict['cap'], poi_dict['comune'][0], poi_dict['comune'][1],  poi_dict['short']);
    }

    DX = 700; // 450.0;
    DY = 400; // 250.0;
    
    function lookup_location() {
        $(body).css('cursor','default'); 
        geoPosition.getCurrentPosition(explore_location, location_error);
    }

    function location_error() {
        alert('{% trans "cannot determine your current location" %}');
    }

    $(function() {
        if (geoPosition.init()) {
            $("#live-geolocation").html('<a href="#" rel="nofollow" onclick="lookup_location();return false"><i class="fa fa-location-arrow" aria-hidden="true"></i>  <small>{% trans "explore the zone around your current position" %}</small></a>');
        }
    });

    map_init();
</script>
{% endblock mapjs %}

{% block body_scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#explore_viewport').click(function (event) {
            event.preventDefault();
            explore_viewport();
        });
        $('#refresh_viewport').click(function (event) {
            event.preventDefault();
            $("body").css("cursor","wait");
            var tags = $("#search_form input:checkbox:checked").map(function(){
                return $(this).val();
            }).get().join();
            var poi_dict_list = new Array();
            s = '/viewport_pois?left={0}&bottom={1}&right={2}&top={3}&max={4}&tags={5}';
            url = s.format(vp[0], vp[1], vp[2], vp[3], MAX_POIS, tags);
            $.getJSON(url, function (data) {
                poi_dict_list = data['resource_list'];
                show_resources(poi_dict_list);
                $("body").css("cursor","default");
            })
        });
    });
</script>
{% endblock body_scripts %}